<div ng-controller="ExerciseController" ng-show="Show()">
	<h1 style="text-center">
		{{getExercise()}} =
		<input id="SolutionInput" placeholder="" ng-model="solution" type="number"
			style="font-size: 1em; font-weight: bold;" ng-class="{ 'mistake': ShowMistakeHint() }">
	</h1>

	<!-- number buttons -->
	<div class="col-xs-4">
		<button type="button" class="btn btn-lg btn-danger keyboard-btn" ng-click="Cancel()" data-i18n="Training.Cancel">Cancel</button>
		<button type="button" class="btn btn-lg btn-default keyboard-btn" ng-click="AddNumber(1)">1</button><br />
		<button type="button" class="btn btn-lg btn-default keyboard-btn" ng-click="AddNumber(4)">4</button><br />
		<button type="button" class="btn btn-lg btn-default keyboard-btn" ng-click="AddNumber(7)">7</button><br />
	</div>

	<div class="col-xs-4">
		<button type="button" class="btn btn-lg btn-info keyboard-btn" ng-click="Clear()">Clear</button>
		<button type="button" class="btn btn-lg btn-default keyboard-btn" ng-click="AddNumber(2)">2</button><br />
		<button type="button" class="btn btn-lg btn-default keyboard-btn" ng-click="AddNumber(5)">5</button><br />
		<button type="button" class="btn btn-lg btn-default keyboard-btn" ng-click="AddNumber(8)">8</button><br />
		<button type="button" class="btn btn-lg btn-default keyboard-btn" ng-click="AddNumber(0)">0</button>
	</div>

	<div class="col-xs-4">
		<button type="button" class="btn btn-lg btn-success keyboard-btn" ng-click="Next()">Next</button>
		<button type="button" class="btn btn-lg btn-default keyboard-btn" ng-click="AddNumber(3)">3</button><br />
		<button type="button" class="btn btn-lg btn-default keyboard-btn" ng-click="AddNumber(6)">6</button><br />
		<button type="button" class="btn btn-lg btn-default keyboard-btn" ng-click="AddNumber(9)">9</button><br />
	</div>

	<div class="clearfix">&nbsp;</div>
	<div ng-show="IsTimeTraining()">
		Zeit:
		{{remainingSeconds}} Sekunden
	
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{remainingSeconds}}" aria-valuemin="0"
				ng-style="{ width : ( timePercentage + '%' ) }" aria-valuemax="100"><span class="sr-only">60% Complete</span></div>
		</div>
	</div>
</div>
